*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.dark-mode{
    background-color: black;
}

header{
    text-align: center;
    background-color: #19729f;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

header h1{
    font-size: 2.5rem;;
}

main{
    max-width: 800px;
    margin: 0 auto;
}

section{
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2{
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #4c93af;
}

footer{
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
}

nav{
    margin-top: 10px;
}

nav a{
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style-type: none;
}
